@import url('https://fonts.googleapis.com/css?family=Montserrat|Barlow');
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Raleway');

html {
    font-size: calc(75% + 0.5vw);
}

body {
    color: $light-gray;
    font-family: 'Barlow', 'Verdana', 'Arial', sans-serif;
    // font-family: 'Raleway', 'Courier New', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.6em;
    word-spacing: 0.3em;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $dark-gray;
        text-decoration: none;
    }
}

em {
    font-style: normal;
    font-weight: bold;
}


footer {
    color: white;

    a {
        color: white;

        &:visited {
            color: white;
        }

        &:hover {
            color: $light-gray;
            text-decoration: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $light-gray;
    font-family: 'Montserrat', 'Verdana', 'Arial', sans-serif;
    // font-family: 'Poppins', 'Courier New', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.6rem;
}
