@import url('https://fonts.googleapis.com/css?family=Montserrat:b,bi|Raleway:b,bi');

html {
    font-size: calc(70% + 0.5vw);
}

body {
    color: $light-gray;
    font-family: 'Raleway', 'Verdana', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.03em;
    line-height: 1.4em;
    word-spacing: 0.05em;
}

a {
    color: $blue;
    text-decoration: none;
}

article a {
    font-weight: 600;

    &:hover {
        color: $dark-gray;
        text-decoration: none;
    }
}

blockquote {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.4em;
    margin: auto 2.2em;
}

em {
    color: $blue;
    font-style: italic;
    font-weight: normal;
}

.articles {
    a, em {
        color: $blue;
    }
} 

.studies {
    a, em {
        color: $green;
    }
}

.guides {
    a, em {
        color: $orange;
    }
}

.plans {
    a, em {
        color: $purple;
    }
}


footer {
    color: white;

    a {
        color: white;

        &:visited {
            color: white;
        }

        &:hover {
            color: $light-gray;
            text-decoration: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $light-gray;
    font-family: 'Montserrat', 'Verdana', 'Arial', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
