.post-lead {
    vertical-align: bottom;
}

.post-date {
    border-left: 0.3rem solid transparent;
    font-size: 1rem;
    line-height: 1.3rem;
    padding:0;
    padding-left: 0.4rem;
    text-transform: lowercase;
}

.articles .post-date {
    border-left-color: $blue;
}

.studies .post-date {
    border-left-color: $green;
}

.guides .post-date {
    border-left-color: $orange;
}

.plans .post-date {
    border-left-color: $purple;
}
