.section {
    border-left: 0.3rem solid transparent;
    font-size: 1rem;
    line-height: 1.3rem;
    padding:0;
    padding-left: 0.4rem;
    text-transform: lowercase;
}

.section.articles {
    border-left-color: $blue;
}

.section.studies {
    border-left-color: $green;
}

.section.guides {
    border-left-color: $orange;
}

.section.plans {
    border-left-color: $purple;
}
