
$blue: rgba(114, 183, 237, 1.0);
$green: rgba(36, 209, 119, 1.0);
$orange: rgba(250, 151, 80, 1.0);
$purple: rgba(144, 19, 254, 1.0);

$white: #f1f1f1;
$dark-gray: rgba(45, 45, 45, 1.0);
$light-gray: rgba(74, 74, 74, 0.95);

$color__background-body: $white;
$color__background-screen: $white;
// $color__background-hr: #ccc;
// $color__background-button: #e6e6e6;
// $color__background-pre: #eee;
// $color__background-ins: #fff9c0;

$color__text-screen: $light-gray;
// $color__text-input: $light-gray;
// $color__text-input-focus: $light-gray;
// $color__link: $light-gray;
// $color__link-visited: $light-gray;
// $color__link-hover: $blue;
// $color__text-main: $light-gray;

// $color__border-button: #ccc #ccc #bbb;
// $color__border-button-hover: #ccc #bbb #aaa;
// $color__border-button-focus: #aaa #bbb #bbb;
// $color__border-input: #ccc;
// $color__border-abbr: #666;
